.homePageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-direction: column;
}
#searchImg {
  width: calc(var(--index) * 30);
  height: 7vh;
  text-align: center;
  margin: 2vh auto;
  padding: 1vh;
  font-size: calc(var(--index) * 0.7);
}
#searchImg::placeholder {
  background: url(../../elements/images/Leading\ Icon.png) no-repeat;
  background-position: 5% -15%;
  height: 100%;
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}
@media (max-width: 780px) {
  #searchImg::placeholder {
    background-position: bottom 10px center;
  }
}
