.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 12vh;
}
.cardWrapper {
  text-align: start;
  margin: 2.5vh 0.2vh;
  border: 1px solid gainsboro;
  border-radius: 15px;
  width: calc(var(--index) * 13);
  height: calc(var(--index) * 13.5);
  box-shadow: 3px 3px 3px gray;
}
.card {
  cursor: pointer;
  perspective: 1000px;
  width: 100%;
  height: 100%;
}
.cardFront {
  transition: 1s;
  backface-visibility: hidden;
  background-color: #fff;
  position: relative;
  border-radius: 15px;
}
.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 15px;
}
.cardFront img {
  max-width: 100%;
  min-width: 100%;
  height: calc(var(--index) * 10.2);
}
.cardFront:hover {
  transform: rotateY(180deg);
  transition: 2s;
}
.typeHero {
  font-size: calc(var(--index) * 0.6);
}
.cardTextWrapper {
  margin: 1vw;
}
.cardImg img {
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.cardName {
  font-weight: 700;
  margin: 0.1vw 0;
  font-size: calc(var(--index) * 0.7);
}
.btnWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginateButton {
  font-weight: 700;
  padding: 1vw 2vw;
  margin-bottom: 3vh;
  text-transform: uppercase;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.61);
  border: none;
  border-radius: 5px;
  color: rgb(1, 199, 199);
  cursor: pointer;
}

@media (max-width: 500px) {
  .cardsContainer {
    margin-top: 30vh;
  }
  .airDate {
    padding-bottom: 3vh;
  }
}
