.smallcardWrapper {
  width: calc(var(--index) * 18);
  height: calc(var(--index) * 7);
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 3px 3px 10px gray;
  align-items: center;
  justify-content: center;
  margin: 5vh;
  border: 1px solid gainsboro;
  border-radius: 15px;
}
.smallcardTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.smallcardName {
  font-size: calc(var(--index));
  font-weight: 700;
  margin: 3vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
