h2 {
  text-align: center;
  font-size: calc(var(--index) * 2);
  margin: 15vh 0 7vh 0;
  text-shadow: 3px 3px 5px rgb(156, 147, 147);
}
.heroesCardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 3vw;
  margin: 1vw;
}
.heroesCardWrapper {
  width: calc(var(--index) * 7);
  min-height: calc(var(--index) * 10);
  border: 1px solid gray;
  border-radius: 12px;
  box-shadow: 3px 3px 3px gray;
}
.heroesCardName {
  font-size: calc(var(--index) * 0.8);
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardSpecies {
  font-size: calc(var(--index) * 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1300px) {
  h2 {
    margin-top: 20vh;
  }
  .heroesCardsContainer {
    margin-top: 5vh;
  }
}
@media (max-width: 500px) {
  h2 {
    margin-top: 30vh;
  }
  .heroesCardsContainer {
    margin-top: 5vh;
  }
}
