@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
:root {
  --index: calc(1vw + 1vh);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid rgb(236, 232, 232);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: whitesmoke;
  box-shadow: 5px 5px 5px gray;
}
.menuWrapper {
  margin: 3vh 0;
  display: flex;
  align-items: center;
}
.unvisible {
  visibility: visible;
}
.logo {
  margin-left: 4.5vw;
}
.menuWrapper ul {
  display: flex;
  align-items: center;
  gap: calc(var(--index) * 2.3);
  list-style: none;
  font-size: calc(var(--index));
  margin-right: 1vw;
}

.menuWrapper ul li {
  cursor: pointer;
  font-weight: 500;
  text-shadow: 3px 3px 5px rgb(177, 172, 172);
}
.menuWrapper ul li::first-letter {
  text-transform: uppercase;
}

.linkMenu {
  text-decoration: none;
}
.active {
  border-bottom: 2px solid red;
  transition: 3s;
}
.active:hover {
  color: red;
}

.hamburger_menu {
  width: 40px;
  height: 0.3vh;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  visibility: hidden;
}
.hamburger_menu span {
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.hamburger_menu span::before {
  content: "";
  position: absolute;
  top: -1.3vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 15px;
  transition: transform 0.25s, top 0.25s 0.25s;
}
.hamburger_menu span::after {
  content: "";
  position: absolute;
  top: 1.2vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 15px;
  transition: transform 0.25s, top 0.25s 0.25s;
}
.hamburger_menu.open span {
  background-color: transparent;
}
.hamburger_menu.open span::after {
  transform: rotateZ(45deg);
  transition: top 0.4s, transform 0.25s 0.25s;
  top: 0;
}
.hamburger_menu.open span::before {
  transform: rotateZ(-45deg);
  transition: top 0.25s, transform 0.25s 0.25s;
  top: 0;
}

@media (max-width: 1200px) {
  .hamburger_menu {
    visibility: visible;
    margin-right: 5vw;
  }
  .unvisible {
    visibility: hidden;
  }
  .logo {
    margin-left: 10vw;
  }
}
@media (max-width: 500px) {
  .logo {
    margin-left: 0;
    margin-top: 5vh;
  }
  .headerWrapper {
    flex-direction: column;
  }
  .menuWrapper {
    flex-direction: column;
  }
  .hamburger_menu {
    margin-top: 3vh;
  }
  .menuWrapper ul {
    gap: calc(var(--index) * 2);
    font-size: calc(var(--index) * 0.7);
  }
}
